
  @import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=Josefin+Sans:ital,wght@0,200;1,300;1,400&family=Lilita+One&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  max-width: 1000px;
  margin: auto;
  background: #8dabc1 url("img/giphy.gif");
  background-blend-mode:lighten;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
}

#header {
    background-image: url("img/coding2.jpg");
    background-size: cover;
    font-size: 30px;
    color: rgb(253, 247, 247);
    font-family: 'Lilita One', sans-serif;    
       text-align: center;
       text-shadow: 2px 2px 5px rgb(164, 238, 248);
    padding: 50px;
    position: fixed;
       left: 0px;
       right: 0px;
}

#header span{
    background: #f0ec78;
    color: rgb(29, 33, 68);
}

  p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    margin-top: 15px;
  }

  a {
    text-decoration: none;
     font-family: 'Amaranth', sans-serif; 
     font-size: 40px;
     color: rgb(29, 33, 68);
    background-color: rgb(120, 224, 255);
     border: 5px solid rgb(19, 33, 71);
     border-radius: 10px;
    display: flex;
     height: 120px;
     align-items: center;
     justify-content: center;
     top: 250px;
     position: relative;
  }

  a:hover{
    overflow: hidden;
    transition: 0.8s;
    transform: scale(1.05);
    color: rgb(207, 250, 250);
  }

a.xyz {
  margin-bottom: 20px;
}

a.table-form {
  margin-bottom: 20px;
}

