
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#slider {
	overflow: hidden;
}

@keyframes slider {
	0% { left: 0; }
	30% { left: 0; }
	33% { left: -100%; }
	63% { left: -100%; }
	66% { left: -200%; }
	95% { left: -200%; }
	100% { left: 0; }
}
#slider figure {
	width:300%;
	position: relative;
	animation: 9s slider infinite;
}

#slider figure img {
	width: 33.333333333%;
	height : 100%;
	float: left;
}
.top-text img{
  display: block;
  position: absolute;
  width: 40%;
  margin: -830px 100px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 30px;
  background: white;
  border-radius: 10px;
  width: 1260px;
  margin:  0 auto;
  padding: 20px 3s0px;
}

nav ul li {
  display: inline-block;
  padding-right: 20px;
  border-right: dashed rgb(241, 177, 146);;
  transition: 0.3s linear;
}

 .navbar ul.nav-header li .linktext {
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}
.navbar ul.nav-header li .linktext > span {
  text-align: center;

}

.navbar li:last-child {
  border-right: none;
}

a:link {
  text-decoration: none;
}
nav ul li a {
  display: flex;
  align-items: center;
  color: #4fc3c6;
  font-weight: 600;
  gap: 20px;
  transition: 0.2s ease;
}

nav ul li a:hover {
  color: #eee171;
}

#menuwrap{
  background-color: #71c6ee96;
  max-width: 990px;
  width: 100%;
  margin: auto;
  padding: 80px 0px 80px;
  position: relative;
}

/* Button all */
button {
  padding: 5px 5px;
  border-radius: 100px;
  width: 183px;
  height: 35px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(206, 221, 230);
  background-image: -moz-linear-gradient( 90deg, rgb(223,233,243) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(223,233,243) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(223,233,243) 0%, rgb(255,255,255) 100%);
  opacity: 0.88;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

button:hover {
  background-color: #ecd031;
  box-shadow: 0 0 20px #f7f31d50;
  transform: scale(1.1);
}

button:active {
  background-color: #ecd031;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}
/* MENU 1 */
.title-menu{
margin:0px 200px 30px;
}

.title-menu img {
  max-width: 100%;
}

.trigger {
  display: none;
}

.slider {
  position: relative;
  height: 350px;
}

.slide {
  width: 100%;
  overflow: hidden;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.slide-img {
  height: 100%;
  display: block;
  margin: 0 200;
}

.slide-figure {
  height: 100%;
  position: relative;
  margin: 0;
}

.slide-caption {
  position: absolute;
  top: 70%;
  width: calc(100% - 6rem);
  color: rgb(168, 60, 60);
  text-align: center;
  right: 28%;
  font-size: 15px;
  z-index: 2000;
}

.trigger:checked + .slide {
  z-index: 0;
  opacity: 1;
}

.slider-nav {
  width: 100%;
  text-align: left;
  margin: 1rem 14rem;
}

.slider-nav__item {
  display: inline-block;
}

.slider-nav__label {
  font-size: 6px;
  background-color:transparent;
  display: block;
  height: 2em;
  line-height: 2em;
  width: 2em;
  text-align: center;
  border-radius: 50%;
  border: solid 2px  rgb(182, 160, 136);
  color: white;
  cursor: pointer;
  transition: background-color .25s, color .25s ease-in-out;
}

.slider-nav__label:hover,
.slider-nav__label:active,
.slider-nav__label:focus 

input:checked + label{
  background-color: rgb(253, 226, 194);;
}

.plan-1{
  position: relative;
  display: inline-flex;
}

.plan-1  li{
  list-style: none;
}
.rounded-1 {
  background-color: rgb(208, 249, 218);
  opacity: 0.769;
  position: relative;
  top: -400px;
  left: 670px;
  width: 320px;
  height: 166px;
  border-radius: 48% 0 0 48% / 80%;
  z-index: -1;
}

.rounded-2 {
  background-color: rgb(251, 240, 177);
  opacity: 0.769;
  position: relative;
  width: 320px;
  height: 166px;  
  top: -450px;
  left: 670px;
  border-radius: 48% 0 0 48% / 80%;
  z-index: -1;
}

.desk1-plan1 {
  position: relative;
  top: -530px;
  left: 630px;
}

.desk2-plan1 {
  position: relative;
  top: -570px;
  left: 630px;
}

#menu1::before {
  position: absolute;
  content: "";
  background: url("../image/geometris.png") no-repeat center;
  background-size: auto;
  width:  100%;
  top:-790px;
  left: -455px;
  height: 100%;
  z-index: -99;
}

.aset-menu1 {
  position: absolute;
  top: -100px;
}

/* MENU 2 */
.title-menu2{
  position: relative;
  margin:-400px 200px 30px;
  }

  .desk-menu {
    text-align: center;
  }

 .collage {
  position: relative;
  left: 410px;
  padding-top: 15px;
 }

 .rounded-3 {
  background-color: rgb(251, 240, 177);
  opacity: 0.769;
  position: relative;
  width: 320px;
  height: 166px;  
  top: -250px;
  left: 0px;
  border-radius: 0 40% 48% 0 / 80%;
}

.desk-plan2 {
  position: relative;
  top: -360px;
  left: 100px;
}