


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#slider {
	overflow: hidden;
}

@keyframes slider {
	0% { left: 0; }
	30% { left: 0; }
	33% { left: -100%; }
	63% { left: -100%; }
	66% { left: -200%; }
	95% { left: -200%; }
	100% { left: 0; }
}
#slider figure {
	width:300%;
	position: relative;
	animation: 9s slider infinite;
}

#slider figure img {
	width: 33.333333333%;
	height : 100%;
	float: left;
}
.top-text img{
  display: block;
  position: absolute;
  width: 40%;
  margin: -830px 100px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 30px;
  background: white;
  border-radius: 10px;
  width: 1260px;
  margin:  0 auto;
  padding: 20px 3s0px;
}

nav ul li {
  display: inline-block;
  padding-right: 20px;
  border-right: dashed rgb(241, 177, 146);;
  transition: 0.3s linear;
}

 .navbar ul.nav-header li .linktext {
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}
.navbar ul.nav-header li .linktext > span {
  text-align: center;

}

.navbar li:last-child {
  border-right: none;
}

a:link {
  text-decoration: none;
}
nav ul li a {
  display: flex;
  align-items: center;
  color: #4fc3c6;
  font-weight: 600;
  gap: 20px;
  transition: 0.2s ease;
}

nav ul li a:hover {
  color: #eee171;
}

#menuwrap{
  max-width: 990px;
  width: 100%;
  margin: auto;
  padding: 80px 0px 80px;
  position: relative;
}


.title-menu{
margin:0px 200px 30px;
}

.title-menu img {
  max-width: 100%;
}

.trigger {
  display: none;
}

.slider {
  position: relative;
  height: 350px;
  z-index: -6;
}

.slide {
  width: 100%;
  overflow: hidden;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -100;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.slide-img {
  height: 100%;
}

.slide-figure {
  height: 100%;
  position: relative;
  margin: 0;
  z-index: -300;
}

.slide-caption {
  position: absolute   ;
  top: 80%;
  width: calc(100% - 6rem);
  color: rgb(29, 26, 26);
  text-align: center;
  right: 28%;
  z-index: 2000;
}

.trigger:checked + .slide {
  z-index: 0;
  opacity: 1;
}

.slider-nav {
  width: 100%;
  text-align: left;
  margin: 1rem 13rem;
}

.slider-nav__item {
  display: inline-block;
}

.slider-nav__label {
  font-size: 6px;
  background-color:transparent;
  display: block;
  height: 2em;
  line-height: 2em;
  width: 2em;
  text-align: center;
  border-radius: 50%;
  border: solid 2px  rgb(182, 160, 136);
  color: white;
  cursor: pointer;
  transition: background-color .25s, color .25s ease-in-out;
}

.slider-nav__label:hover,
.slider-nav__label:active,
.slider-nav__label:focus 

input:checked + label{
  background-color: rgb(253, 226, 194);;
}

.rounded-1 {
  background-color: rgb(208, 249, 218);
  opacity: 0.769;
  position: absolute;
  width: 320px;
  height: 166px;
  border-radius: 48% 0 0 48% / 80%;
}

.rounded-2 {
  background-color: rgb(251, 240, 177);
  opacity: 0.769;
  position: relative;
  width: 320px;
  height: 166px;
  border-radius: 48% 0 0 48% / 80%;
}

.menu-cont {
  display:flex ;
}