


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  width: 100%;
}

/* SLIDE ANIMATION TOP */
#sliders {
	overflow: hidden;
}

@keyframes sliders {
	0% { left: 0; }
	30% { left: 0; }
	33% { left: -100%; }
	63% { left: -100%; }
	66% { left: -200%; }
	95% { left: -200%; }
	100% { left: 0; }
}
#slider figure {
	width:300%;
	position: relative;
	animation: 9s slider infinite;
}

#slider figure img {
	width: 33.333333333%;
	height : 100%;
	float: left;
}
.top-text img{
  display: block;
  position: absolute;
  width: 40%;
  margin: -830px 100px;
}

/* NAVBAR TOP */
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 30px;
  background: white;
  border-radius: 10px;
  width: 1260px;
  margin:  0 auto;
  padding: 20px 3s0px;
}

nav ul li {
  display: inline-block;
  align-content: space-between;
  justify-content: center;
  padding-right: 20px;
  border-right: dashed rgb(241, 177, 146);
  height: 100px;
  transition: 0.3s linear;
}

.text {
  margin-top: -100px;
  padding-bottom: 30px;
  text-align: center;
}
.text2 {
  margin-left: -100px;
  margin-right: 50px;
  padding-top: 50px;

}
.text3 {
  margin-left: -180px;
  margin-right: 30px;
}
.text4 {
  margin-left: -180px;
  margin-right: 30px;
}

.top-navbar {
  padding-bottom: 10px;
}

.top-navbar2 {
 position: relative;
 right: -40px;
 top: 13px;
}
.top-navbar3 {
  position: relative;
  right: -10px;
  bottom: 10px;
 }
 .top-navbar4 {
  position: relative;
  bottom: 12px;
  right: 30px;
 }
 .navbar ul.nav-header li .linktext {
  width: 100%;
  align-items: center;
}
.navbar ul.nav-header li .linktext > span {
  text-align: center;

}

.navbar li:last-child {
  border-right: none;
}

a:link {
  text-decoration: none;
}
nav ul li a {
  display: flex;
  align-items: center;
  color: #4fc3c6;
  font-weight: 600;
  gap: 20px;
  transition: 0.2s ease;
}

nav ul li a:hover {
  color: #eee171;
}

/* MENU CONTAIN */
#menuwrap{
  max-width: 990px;
  width: 100%;
  margin: auto;
  padding: 80px 0px 80px;
  position: relative;
}

/* Button all */
button {
  padding: 5px 5px;
  border-radius: 100px;
  width: 183px;
  height: 35px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(206, 221, 230);
  background-image: -moz-linear-gradient( 90deg, rgb(223,233,243) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(223,233,243) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(223,233,243) 0%, rgb(255,255,255) 100%);
  opacity: 0.88;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

button:hover {
  background-color: #f1d39c;
  box-shadow: 0 0 10px #e2b664;
  transform: scale(1.1);
}

button:active {
  background-color: #f7e709;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.68);
}
/* MENU 1 */
.title-menu{
margin:0px 200px 30px;
}

.title-menu img {
  max-width: 100%;
}

.trigger {
  display: none;
}

.slider {
  position: relative;
  height: 350px;
}

.slide {
  width: 100%;
  overflow: hidden;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.slide-img {
  height: 100%;
  display: block;
  margin: 0 200;
}

.slide-figure {
  height: 100%;
  position: relative;
  margin: 0;
}

.slide-caption {
  position: absolute;
  top: 70%;
  width: calc(100% - 6rem);
  color: rgb(245, 237, 237);
  text-align: center;
  right: 28%;
  font-size: 15px;
  z-index: 2000;
}

.slide-caption span {
background: rgba(0, 0, 0, 0.651);
}

.trigger:checked + .slide {
  z-index: 0;
  opacity: 1;
}

.slider-nav {
  width: 100%;
  text-align: left;
  margin: 1rem 14rem;
}

.slider-nav__item {
  display: inline-block;
}

.slider-nav__label {
  font-size: 6px;
  background-color:transparent;
  display: block;
  height: 2em;
  line-height: 2em;
  width: 2em;
  text-align: center;
  border-radius: 50%;
  border: solid 2px  rgb(182, 160, 136);
  color: white;
  cursor: pointer;
  transition: background-color .25s, color .25s ease-in-out;
}

.slider-nav__label:hover,
.slider-nav__label:active,
.slider-nav__label:focus 

input:checked + label{
  background-color: rgb(253, 226, 194);;
}

.plan-1{
  position: relative;
  display: inline-flex;
}

.plan-1  li{
  list-style: none;
}
.rounded-1 {
  background-color: rgb(208, 249, 218);
  opacity: 0.769;
  position: relative;
  top: -400px;
  left: 670px;
  width: 320px;
  height: 166px;
  border-radius: 48% 0 0 48% / 80%;
  z-index: -1;
}

.rounded-2 {
  background-color: rgb(251, 240, 177);
  opacity: 0.769;
  position: relative;
  width: 320px;
  height: 166px;  
  top: -450px;
  left: 670px;
  border-radius: 48% 0 0 48% / 80%;
  z-index: -1;
}

.desk1-plan1 {
  position: relative;
  top: -530px;
  left: 630px;
}

.desk2-plan1 {
  position: relative;
  top: -570px;
  left: 630px;
}

#menu1::before {
  position: absolute;
  content: "";
  background: url("../image/geometris.png") no-repeat center;
  background-size: auto;
  width:  100%;
  top:-295px;
  left: -450px;
  height: 100%;
  z-index: -99;
}

.aset-menu1 {
  position: absolute;
  top: -100px;
}

/* MENU 2 */
.title-menu2{
  position: relative;
  margin:-400px 200px 30px;
  }

  .desk-menu p {
      text-align: justify;
      text-justify:inter-character;
      margin: 1em 12em 0 10em;
  }

 .collage {
  position: relative;
  left: 410px;
  padding-top: 15px;
 }

 .rounded-3 {
  background-color: rgb(212, 233, 247);
  opacity: 0.769;
  position: relative;
  width: 320px;
  height: 166px;  
  top: -250px;
  left: 0px;
  border-radius: 0 40% 48% 0 / 80%;
}

.desk-plan2 {
  position: relative;
  top: -360px;
  left: 100px;
}

/* MENU 3 */
.title-menu3 {
  position: relative;
  left: 160px;
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

.cd__main{
   display: block !important;
}

* {
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  perspective: 100px;
  max-width: 560px;
  height: 400px;
  margin: 10px 0px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: transparent;
}

.carousel__slide:nth-child(even) {
  background-color: transparent;
}

.carousel__slide:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  font-size: 6px;
  background-color:transparent;
  display: block;
  height: 2em;
  line-height: 2em;
  width: 2em;
  text-align: center;
  border-radius: 50%;
  border: solid 2px  rgb(182, 160, 136);
  color: white;
  cursor: pointer;
  transition: background-color .25s, color .25s ease-in-out;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 3rem;
  height: 3rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
  top: -30px;
}

.carousel::after,
.carousel__next {
  right: 5rem;
  top: -30px;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}
