
@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@100&family=Josefin+Sans:wght@300&family=Rancho&family=Zen+Antique&family=Zen+Kaku+Gothic+New:wght@300;400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

table {
    display: table;
    text-indent: initial;
    border-spacing: 2px;
}

.top-text {
    font-family: 'Zen Antique', serif;
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 20px ;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: auto;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    box-shadow: 3px 4px 20px 3px rgb(68, 69, 73);
}

.tab {
border-bottom: solid 5px rgb(160, 233, 227) ;
padding-bottom: 30px;
margin-bottom: 30px;
}

.tab table{
    width: 100%;
    border: solid 1px rgb(145, 86, 86);
    border-collapse: collapse;
}

#tbl-form {
    background-image: linear-gradient(to bottom right, rgb(221, 150, 150), rgb(236, 197, 248) );
    padding: 30px 0;
}

#tbl-form .container {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
}

.ft-tab table th {
    background-color: rgb(160, 233, 227) ;
}

.sec-tab table th {
    background-color: rgb(160, 233, 227) ;

}

.tab table th, .tab table td {
    border: solid 1px rgb(38, 39, 43);
    padding: 5px 0;
    text-align: center;
}

form {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 8px;
}

.form h2 {
    text-align: center;
}

.form input, .form select {
    width: 100%;
    background-color: bisque;
    border: none;
    padding: 10px;
    border-radius: 8px;
}

.form textarea {
    width: 100%;
    background-color: bisque;
    border: none;
    padding: 10px;  
    border-radius: 8px;
}

.form button {
    width: 100%;
    box-shadow: 3px 4px 8px 3px rgb(68, 69, 73);
    background-color: rgb(221, 150, 150);
    padding: 10px;
    border: none;
    cursor: pointer;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 800  ;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(58, 65, 111, .5) 0 -3px 0 inset;
}

.form button:hover {
    background-color:rgb(160, 233, 227) ;
}
  