


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

table {
    display: table;
    text-indent: initial;
    border-spacing: 2px;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: auto;
}

.tab {
border-bottom: solid 5px blueviolet ;
padding-bottom: 30px;
margin-bottom: 30px;
}

.tab table{
    width: 100%;
    border: solid 1px black;
    border-collapse: collapse;
}

#tbl-form {
    background-image: linear-gradient(90deg, rgb(221, 150, 150), rgb(172, 208, 230));
    padding: 30px 0;
}

#tbl-form .container {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
}

.ft-tab table th {
    background-color: aquamarine;
}
 
.tab table th, .tab table td {
    border: solid 1px blanchedalmond;
    padding: 5px 0;
    text-align: center;
}
